* {
  margin: 0;
}

.input-custom-styles:focus {
  outline: none;
}

.editor-width {
  width: 75%;
}

.drawer-custom-styles {
  width: 30%;
  height: 100vmin;
  margin-left: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 4px 3px 4px 3px rgb(106, 141, 158);
}

.drawer-collapse {
  position: absolute;
  top: 120px;
  transform: translateX(-150%);
  transition: all 0.8s;
  z-index: 999;
}

.drawer-open {
  transform: translateX(0%);
  transition: all 0.4s;
}

.drawer-active-file {
  background-color: #607e9b;
}

.drawer-btn {
  position: relative;
  top: -22px;
  left: 70%;
  width: 65px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -15px;
  margin-top: -5px;
}

.drawer-btn > button > i {
  margin-right: -4px;
  margin-left: -10px;
}

.drawer-btn > button {
  margin-top: 10px;
}

.collection-rename-leaf {
  position: relative;
  top: -24px;
  height: 30px;
  width: 50%;
  margin-bottom: -30px;
}

.collection-rename-leaf > input {
  height: 20px;
  width: 90%;
  background-color: rgb(175, 202, 214);
  position: relative;
  top: -8px;
}

.collection-rename-leaf > input:focus {
  outline: 1px solid rgb(37, 120, 145);
}
.btn-check-rename {
  position: relative;
  top: -38px;
  left: 90px;
}

.btn-check-rename > i {
  height: 14px;
  width: 14px;
}

.user-btn {
  position: relative;
}

.user-menu {
  position: absolute;
  top: 60px;
  right: 1015;
  width: 300px;
  z-index: 88;
}

.user-btns:hover {
  background-color: rgb(108, 122, 126);
}

.user-btn-active {
  background-color: rgb(74, 192, 89);
}

.cursor {
  cursor: pointer;
}

.dark-mode {
  background-color: rgb(39, 73, 83);
  color: rgb(255, 255, 255);
}

.light-mode {
  background-color: #fff;
  color: black;
}

.btn-hover:hover {
  color: rgb(255, 255, 255);
}

.category-btn-border {
  border-bottom: 3px solid rgb(74, 192, 89);
}

@media only screen and (max-width: 800px) {
  .drawer-custom-styles {
    width: 250px;
    position: absolute;
    top: 21%;
    z-index: 999;
    margin-left: 0;
    height: 100vmax;
  }
  .editor-width {
    width: 100%;
  }

  .user-menu {
    width: 260px;
  }
}
